<article class="container">
  <article class="container-text">
    <p>За нас качеството на храната е основен приоритет. Нашата политика е да предлагаме на клиентите си това, което самите ние слагаме на нашата маса. Вече с натрупан богат опит в готвенето и кулинарията, създадохме нашия онлайн магазин. Ние вярваме, че забързаното ежедневие не трябва да бъде причина за компромис с избора на храна. Всеки работен ден Ви предлагаме разнообразно обедно меню и очакваме Вашия избор! </p>
  </article>

  <article class="container-footer">
    <img src="../../../assets/logo.png" alt="">
    <p class="company-info">"Николай Станчев" ЕООД

      ЕИК:120545289

      със седалище:

      гр.Смолян,бул."България"29

      МОЛ.:Николай Станчев</p>
  </article>
</article>
