<article class="container-header">
  <article class="container-left">
    <img src="./assets/logo.png" alt="" class="logo" routerLink="/">
  </article>
  <article class="container-middle">
    <nav class="nav-bar">
      <ul>
        <li>
          <a routerLink="/">Обедно меню</a>
        </li>
        <li><a routerLink='/about'>За нас</a></li>
        <li><a routerLink="/terms">Условия</a></li>
        <li><a routerLink="/news">Новини</a></li>
        <li><a routerLink="contacts">Контакти</a></li>
      </ul>
    </nav>
  </article>

  <article class="container-right">
    <article class="user-bar">
      <ul>
              <li>
                <a>Профил</a>
              </li>
        <li>
          <a>Количка</a>
        </li>
        <li>
          <a>Вход</a>
        </li>
        <li>
          <a>Регистрация</a>
        </li>
              <li>
                <a>Изход</a>
              </li>
      </ul>
    </article>
  </article>


</article>
