<article class="cart" #clickedInside>
    <a *ngIf="(user$ | async).cart.products.length > 0" routerLink="/cart" class="cart-badge">{{(user$ | async).cart.products.length}}</a>
    <i class="fas fa-shopping-cart fa-2x"></i>
    <ng-container *ngTemplateOutlet=" orderDetails ? details : cartProducts"></ng-container>
    <p class="empty-cart" *ngIf="(user$ | async).cart.products.length === 0">Няма добавени продукти...</p>
</article>
<ng-template #cartProducts>
        <article class="cart-clear" *ngIf="(user$ | async).cart.products.length > 0">
            <i class="fas fa-trash" (click)="clearCart()"></i>
        </article>
    <ul>
        <li *ngFor="let item of (user$ | async).cart.products">

            <article class="item-container">
                <h3 class="item-name">{{item.name}}</h3>
                <article class="item-info-box">
                    <label for="quantity">Количество
                        <input type="number" value="{{item.quantity}}" min="1" class="item-quantity" #updatedQuantity id="quantity">
                    </label>
                    <p class="item-price">{{(item.quantity * item.price).toFixed(2)}} лв.</p>
                </article>
                <article class="item-btn-box">
                    <button class="item-btn renew" (click)="updateQuantity(item,updatedQuantity.value)">Обнови</button>
                    <button class="item-btn remove" (click)="removeItem(item)">Премахни</button>
                </article>

            </article>

        </li>
    </ul>
    <article class="total-price" *ngIf="(user$ | async).cart.products.length > 0">
        <p class="price">{{(user$ | async).cart.totalPrice.toFixed(2)}} лв.</p>
        <button class="order-btn" (click)="toggleMenu()">Поръчай</button>
    </article>
</ng-template>

<ng-template #details>
    <article class="order-info">
    <ng-container *ngTemplateOutlet=" showAddNewAddressTab ? addNewAddressForm : detailsForm"></ng-container>
    </article>


</ng-template>

<ng-template #addNewAddressForm>
    <article class="newAddressWrapper">
        <app-add-new-address (addedNewAddres)="addedNewAddress()"></app-add-new-address>
        <i class="fas fa-times close-tab" (click)="closeTab()"></i>
    </article>
</ng-template>

<ng-template #detailsForm>

        <h5 class="details-form-title">Адрес за доставка:</h5>
        <form name="test" id="test" (ngSubmit)="buy(test.value)" #test="ngForm">
            <select name="address" class="address-list" [ngModel]="selectedAddress" #selected>
                <option *ngFor="let address of (user$ | async).address" name="address"  >{{address.address}}</option>
            </select>
            <button type="button" #addNewAddressBtn (click)="toggleAddNewAddres()" class="btn-add-address" >Добави нов адрес</button>
            <article class="total-price">
                <article class="total-price-cart">
                    <p>Продукти:</p>
                    <h5>{{(user$ | async).cart.totalPrice.toFixed(2)}} лв.</h5>
                </article>
                <p class="plus">+</p>
                <article class="total-price-delivery">
                    <p>Доставка:</p>
                    <h5 *ngIf="(user$ | async).cart.totalPrice < 10">{{(userAddressArr$ | async)[selected.selectedIndex].delivery.toFixed(2)}} лв.</h5>
                    <h5 *ngIf="(user$ | async).cart.totalPrice >= 10">0.50 лв.</h5>
                </article>
                <article class="total-price-sum">
                    <h3 *ngIf="(user$ | async).cart.totalPrice < 10">{{((user$ | async).cart.totalPrice + (userAddressArr$ | async)[selected.selectedIndex].delivery).toFixed(2)}} лв.</h3>
                    <h3 *ngIf="(user$ | async).cart.totalPrice >= 10">{{((user$ | async).cart.totalPrice + 0.5).toFixed(2)}} лв.</h3>
                </article>
            </article>
            <h5 class="details-form-title">Начин на плащане:</h5>
            <article class="payment-method">
                <label for="cash">
                    В брой
                    <input type="radio" id="cash" name="payment" value="cash" ngModel="cash">
                </label>
                <label for="card">
                    С карта
                    <input type="radio" id="card" name="payment" value="card" ngModel="cash">
                </label>
            </article>
            <button class="order-btn back" type="button" (click)="toggleMenu()">Назад</button>
            <button class="order-btn" type="submit">Потвърди поръчката</button>
        </form>
</ng-template>