<article class="no-orders" *ngIf="(orders$ | async).length === 0">
    <p>Няма направени поръчки...</p>
</article>

<article class="orders" *ngIf="(orders$ | async).length > 0">
<!--    <table>-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th>Дата</th>-->
<!--            <th>Начин на плащане</th>-->
<!--            <th>Стойност</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--       <tbody>-->
<!--       <tr *ngFor="let order of (orders | async)" (click)="test()">-->
<!--           <td>{{(order.date | date)}}</td>-->
<!--           <td>{{order.payment}}</td>-->
<!--           <td>{{order.price.toFixed(2)}} лв.</td>-->
<!--       </tr>-->
<!--       </tbody>-->

<!--    </table>-->

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Дата</th>
            <th scope="col">Плащане</th>
            <th scope="col">Стойност</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let order of (orders$ | async)">
            <th scope="row">{{ order.id }}</th>
            <td>{{(order.date | date)}}</td>
            <td>{{order.payment}}</td>
            <td>{{order.price.toFixed(2)}} лв.</td>
        </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshOrders()">
        </ngb-pagination>

        <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshOrders()">
            <option [ngValue]="5">5 поръчки</option>
            <option [ngValue]="10">10 поръчки</option>
            <option [ngValue]="15">15 поръчки</option>
        </select>
    </div>
</article>