.address-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 10px;
}

::ng-deep *:focus {
    outline: unset;
}

.address-wrapper i {
    margin: 10px;
}

.btn-delete-address {
    margin-left: 20px;
    border-radius: 6px;
    border:none;
    background: #E25E20;
    color: white;
    font-weight: bold;
    padding: 1px;
}
.btn-delete-address:hover {
    cursor: pointer;
    background: white;
    color: #E25E20;
    border: 1px solid #E25E20;
    box-shadow: 0 0 3px 0;
    padding: 0;
}